#paneProperties{
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 10 10 10 10;
}

#headerProperties{
    -fx-background-color: #999999;
    -fx-padding: 5 10 5 10;
    -fx-background-radius: 10 10 0 0
}

#paneCenter{
    -fx-background-color: #556677;
}
